<div class="panel panel-default users">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-3">
				<a class="btn btn-sm btn-info" ng-click="add()">
					<i class="fa fa-plus-circle"></i>
					<span>{{t.ADD_USER}}</span>
				</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-condensed table-hover table-list">
			<thead>
				<tr>
					<th class="col-login">{{t.LOGIN}}</th>
					<th class="col-name">{{t.FULLNAME}}</th>
					<th class="col-locale">{{t.LANGUAGE}}</th>
					<th class="col-phone">{{t.PHONE}}</th>
					<th class="col-email">{{t.EMAIL}}</th>
					<th class="col-actions">&nbsp;</th>
				</tr>
			</thead>
			<tbody ng-model="list">
				<tr ng-repeat="item in list">
					<td class="col-login">
						<a ng-click="enable(item)">
							<active-icon ng-model="item.is_active"></active-icon>
						</a>
						{{item.login}}
						<i class="fa fa-user-secret text-danger" ng-show="item.level >= 128"></i>
					</td>
					<td class="col-name">{{item.first_name}} {{item.last_name}}</td>
					<td class="col-locale">{{getLanguage(item.locale)}}</td>
					<td class="col-phone">{{item.address.phone}}</td>
					<td class="col-email">
						<i class="fa fa-envelope"></i>
						<a ng-href="mailto:{{item.email}}">{{item.email}}</a>
					</td>
					<td class="col-actions">
						<button class="btn btn-xs btn-primary" title="{{t.EDIT}}" ng-click="edit(item)">
							<i class="fa fa-edit"></i>
						</button>
						<button class="btn btn-xs btn-danger" title="{{t.DELETE}}" ng-click="delete(item)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
